// brands

.brands {
  .brands__card {
    min-width: 240px;
    height: 72px;

    border-radius: 6px;
    border: 1px solid $color__gray_border;
    background: $color__white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;

    @media screen and (min-width: $window__width_pad) {
      margin-right: 24px;
      width: 224px;
    }

    @media screen and (min-width: $window__width_desktop) {
      margin-right: 32px;
      width: 240px;
    }
  }
}
