// variables

$color__main_white: rgba(248, 248, 248, 1);
$color__main_white_transparent_0: rgba(248, 248, 248, 0);
$color__pink: rgba(255, 62, 121, 1);
$color__white: rgba(255, 255, 255, 1);
$color__white_transporent_0_96: rgba(255, 255, 255, 0.96);
$color__gray: rgba(221, 221, 221, 1);
$color__gray_border: rgba(234, 234, 234, 1);
$color__brown: rgba(126, 126, 130, 1);
$color__black: rgba(27, 28, 33, 1);
$color__line_blue: rgba(217, 255, 245, 1);
$color__active_blue: rgba(184, 255, 236, 1);
$color__box-shadow_sidebar: rgba(14, 24, 80, 0.2);

$window__width_mobile: 320px;
$window__width_pad: 768px;
$window__width_desktop: 1336px;
